@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  height: 100vh;
  background-color: #122d40;
  color: #147581;
  font-family: "Andika", sans-serif;
}
main {
  border: 1px solid white;
  background-color: white;
  flex-direction: column;
  border-radius: 5px;
  text-align: center;
  display: flex;
  row-gap: 5px;
  width: 80vw;
}
section {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 70px;
  column-gap: 5px;
  display: flex;
  width: 100%;
  background-color: #12495c;
}
h3 {
  margin: 5px;
}
.result {
  margin-top: 80px;
}
input {
  height: 35px;
}
.textinput {
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  width: 60%;
}
.button {
  background-color: white;
  border-radius: 5px;
  color: #147581;
  cursor: pointer;
  border: none;
  width: 25%;
}
@media (min-width: 500px) {
  main {
    width: 35vw;
  }
  .textinput {
    width: 70%;
  }
  .button {
    width: 15%;
  }
}
